$vlightgreen: #14787d;
$darkgreen: #004439;
$lightbrown: #72411b;
$darkbrown: #3d1a00;
$text: #fff;
$bordergreen: #1bfd9c;

@keyframes gradient-animation {
  0% {
    background: linear-gradient(to right, $vlightgreen, $darkgreen);
    background-size: 200% 100%;
    background-position: 0% 50%;
  }
  50% {
    background: linear-gradient(to right, $darkgreen, $vlightgreen);
    background-size: 200% 100%;
    background-position: 100% 50%;
  }
  100% {
    background: linear-gradient(to right, $vlightgreen, $darkgreen);
    background-size: 200% 100%;
    background-position: 0% 50%;
  }
}

// Define mixin for wooden texture
@mixin wooden-board {
  background-color: $darkbrown; // Brown color for wooden texture
  color: #fff; // Text color
  border: none; // Remove default border
  padding: 10px 30px; // Adjust padding as needed
  border-radius: 5px; // Add border-radius for rounded corners
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); // Add inset shadow for texture effect
  margin-left: 12px;
}

body {
  margin: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: gradient-animation 30s infinite;
  z-index: -1;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.copyright {
  position: relative;
  margin-right: 24px;

  &::after {
    content: " \00A9";
    bottom: 4px;
    position: absolute;
    right: -12px;
  }
}

button {
  cursor: pointer;
}

// #####NAVBAR###############################################################

header {
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: $lightbrown;
  border-bottom: 5px solid $darkbrown;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #check {
    display: none;
  }

  .logo {
    margin: 20px;
    font-size: 2rem;
    font-weight: 700;
    color: goldenrod;
    text-decoration: underline;
  }

  // Apply wooden-board mixin to button element
  .nav-button {
    @include wooden-board;
    font-size: 16px; // Adjust font size as needed
    cursor: pointer; // Add pointer cursor for usability
    transition: background-color 0.3s ease; // Smooth transition for background-color change

    &:hover {
      background-color: $lightbrown; // Darker brown color on hover
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: auto;
}

.title {
  font-size: 3rem;
  color: $darkbrown;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}

// #####HOME####################################################################

.homep {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
  }

  p {
    margin: 5px;
  }

  .uptext {
    font-size: calc((5rem / 1.618) / 1.618);
    color: $darkbrown;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
    text-align: center;
  }

  .midtext {
    font-size: 5rem;
    color: goldenrod;
  }

  .bottext {
    font-size: calc(5rem / 1.618);
    color: $darkbrown;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
  }

  .description {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    img {
      border-radius: 50%;
      border: solid $darkbrown 3px;
      width: 350px;
      height: 350px;
      box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79);
      -webkit-box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79);
      -moz-box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79);
    }

    p {
      font-size: 1.5rem;
      color: $darkbrown;

      padding: 10px;
      margin: 20px;
    }
  }
}

// #####INFO############################################################################

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-bottom: 50px;

  .result {
    width: 360px;
    height: 120px;
  }

  .info-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    #live-dot {
      width: 10px;
      height: 10px;
      background-color: red;
      border-radius: 50%;
      animation: pulse 1s infinite;
      margin-left: 10px;
      z-index: -0.5;
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
        opacity: 1;
      }
      50% {
        transform: scale(1.5);
        opacity: 0.5;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  .crypto-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      text-align: center;
    }

    #crypto-table {
      border: 5px $darkbrown solid;
      border-radius: 5px;
      border-collapse: collapse;
      width: 55%;
      box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79);
      -webkit-box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79);
      -moz-box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79);

      .th,
      .td {
        border: 2px $darkbrown solid;
        padding: 5px;
        font-size: 1.4rem;
        color: $darkbrown;
        font-weight: 700;
      }
      tbody {
        background-color: $vlightgreen;
      }

      .positive-change {
        background-color: green;
        color: #000;
      }

      .negative-change {
        background-color: red;
        color: #fff;
      }

      th {
        padding: 10px;
        background-color: $darkgreen;
        font-size: 1.6rem;
        border-bottom: 2px solid $darkbrown;
      }
    }

    .search {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 40%;

      #search-title {
        font-size: 2.5rem;
        color: #000;
        text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
      }

      .search-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input-container {
          position: relative;

          .input-field {
            height: 30px;
            width: 250px;
            border-radius: 30px;
            border: 5px solid #fff;
            padding: 8px;
            font-size: 1.5rem;

            &:focus {
              outline: none;
              border: 5px $darkbrown solid;
              border-color: $darkbrown;
            }
          }
        }

        .button-search {
          background-color: $lightbrown;
          width: 66%;
          border: 2px solid #422800;
          margin-top: 10px;
          border-radius: 30px;
          box-shadow: $darkbrown 4px 4px 0 0;
          color: white;
          cursor: pointer;
          display: inline-block;
          font-weight: 600;
          font-size: 18px;
          padding: 0 5px;
          line-height: 50px;
          text-align: center;
          text-decoration: none;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;

          &:hover {
            background-color: #fff;
            color: $darkbrown;
          }

          &:active {
            box-shadow: $darkbrown 2px 2px 0 0;
            transform: translate(2px, 2px);
          }

          @media (min-width: 768px) {
            min-width: 120px;
            padding: 0 25px;
          }
        }
      }
    }

    #searchResult {
      margin-top: 20px;
      padding: 10px;
      background-color: #fff;
      border-radius: 0.6em;
      border: solid $darkbrown 3px;
      font-size: 1.4rem;
      color: $darkbrown;
      font-weight: 700;
    }
  }

  .zubr-info-mobile {
    display: none;
  }
  .zubr-info {
    position: relative;
    font-size: 1.4rem;
    width: 954px;
    height: 100px;
    margin-top: 30px;
    color: #000;
    border: 5px $darkbrown solid;
    border-radius: 5px;
    border-collapse: collapse;
    box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79);
    -webkit-box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79);

    .tab-title {
      border: 2px $darkbrown solid;
      padding: 10px 30px;
      font-size: 1.6rem;

      font-weight: 700;
      background-color: $darkgreen;
    }

    .tab-info {
      border: 2px $darkbrown solid;
      padding: 10px 30px;
      font-size: 1.2rem;
      background-color: $vlightgreen;
      font-weight: 400;
      text-align: center;
      font-weight: 700;
    }
  }
}
// ############ROADMAP##########################################################
.roadmap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  .roadmap-container {
    display: flex;
    align-items: center;

    padding: 24px;
    border-radius: 4px;
    height: 600px;
    width: 800px;
    justify-content: center;
    position: relative;
    gap: 200px;

    .date,
    .name {
      display: flex;
      flex-direction: column;
      align-items: space-around;
      justify-content: center;
      width: 200px;
      height: 100%;
      font-size: 1.5rem;
      color: white;
      font-weight: 800;
    }

    .line {
      position: absolute;
      width: 12px;
      height: 600px;
      background-color: $darkbrown;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-radius: 10px;

      .circle {
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $darkbrown;
        display: flex;

        justify-content: center;
        align-items: center;

        .roadmap-dot {
          height: 50%;
          width: 50%;
          border-radius: 50%;
          background-color: #fff;
          z-index: 2;
        }

        &::before {
          content: "";
          position: absolute;
          width: 300px;
          height: 4px;
          background-color: $darkbrown;
          top: 50%;
          left: -190px;
          transform: translateY(-50%);
          border-radius: 5px;
        }
      }
    }
  }

  .date {
    display: flex;
  }

  .date-right-side {
    display: none;
  }
}
// ############Wildlife##########################################################
.wildlife {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 60px;

  .carousel-container {
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    height: 400px;
  }

  .carousel {
    display: flex;
    overflow: hidden;
  }

  // container makes sure images dont jump around and have fixed size reserved on page

  .img-container {
    max-height: 400px;
    max-width: 900px;
    margin: auto;
    width: 100%;
    position: absolute;
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin: auto;
    }
  }

  .dots-container {
    position: relative;
    top: 370px;
    text-align: center;
    width: 108px;
    padding: 3px;
    border-radius: 4px;
    margin: auto;
    background-color: rgba(211, 211, 211, 0.5);
  }

  // img set it as height form container and margin auto so when its smaller its in the middle
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }

  .dot.active {
    background-color: #333;
  }

  p {
    font-size: 1.5rem;
    color: $darkbrown;

    padding: 10px;
    margin: 20px;
  }
}

// #####FOOTER##################################################################

footer {
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid $darkbrown;
  background-color: $lightbrown;
  color: $text;
  min-height: 40px;

  .footer-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    padding: 0 16px;
    box-sizing: border-box;
  }
  p {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -1px;
  }
}

.mobile-toggle {
  display: none;
}

///Mobile
@media screen and (max-width: 768px) {
  .mobile-toggle {
    display: block;
  }

  .homep .description img {
    width: 300px;
    height: 300px;
  }

  #result {
    max-width: 330px;
    margin-right: 20px;
  }

  $input-type: '[type="checkbox"]';

  #{$input-type} {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
  }

  .bar {
    display: block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 40px;

    span {
      position: absolute;
      width: 45px;
      height: 7px;
      background: $darkbrown;
      border-radius: 100px;
      display: inline-block;
      transition: 0.3s ease;
      left: 0;

      &.top {
        top: 0;
      }

      &.middle {
        top: 17px;
      }

      &.bottom {
        bottom: 0;
      }
    }

    #{$input-type}:checked ~ span.top {
      transform: rotate(45deg);
      transform-origin: top left;
      width: 48px;
      left: 5px;
    }

    #{$input-type}:checked ~ span.bottom {
      transform: rotate(-45deg);
      transform-origin: top left;
      width: 48px;
      bottom: -1px;
    }

    #{$input-type}:checked ~ span.middle {
      transform: translateX(-20px);
      opacity: 0;
    }
  }

  .nav-links {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 60px;
    right: 0;
    transform: translateX(100%);

    &.open {
      transform: translateX(0);
      display: flex;
      margin-top: 14px;
      width: 50%;

      button {
        width: 100%;
        border-radius: 0;
        margin: 1px 0;
      }
    }
  }

  .main {
    position: relative;
    padding: 0 16px;
  }

  //home

  .homep {
    flex-direction: column;
    text-align: center;
  }

  .homep {
    .text-container,
    .description {
      width: 100%;
    }
  }

  //info
  .zubr-info {
    display: none;
  }

  .cut {
    display: none;
  }

  .info .zubr-info-mobile {
    display: flex;
    flex-direction: column;
    background-color: #1bfd9c;
    width: 300px;
    border: solid 5px $darkbrown;
    overflow: hidden;
    box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79);
    -webkit-box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79);

    .mobile-category {
      background-color: $darkgreen;
      color: #fff;
      padding: 5px;
      margin: auto;
      font-size: 1.6rem;
      width: 100%;
      text-align: center;
    }
    .mobile-info {
      background-color: $vlightgreen;
      padding: 5px;
      margin: auto;
      font-size: 1.6rem;
      width: 100%;
      text-align: center;
    }
  }
  //roadmap
  .roadmap .roadmap-container {
    width: 360px;
    padding: 0;

    .line {
      left: 52px;

      .circle::before {
        width: 60px;
        left: 0px;
        height: 10px;
      }
    }

    .name {
      padding-left: 20px;
      font-size: 1.3rem;
    }

    .date {
      display: none;
    }

    .date-right-side {
      display: flex;
      border-bottom: 3px $darkbrown solid;
    }
  }
  //wildlife
  .wildlife {
    margin-bottom: 160px;

    .dots-container {
      top: 146px;
    }

    .carousel-container {
      max-height: 172px;

      .img-container {
        max-height: 172px;

        img {
          max-width: none;
          max-height: 172px;
        }
      }
    }
  }
}

//END
