body {
  height: 100vh;
  margin: 0;
}

#background {
  z-index: -1;
  width: 100vw;
  background: linear-gradient(340deg, #004439, #05514a, #0a5e5b, #14787d);
  height: 400vh;
  background-size: 130% 130%;
  animation: gradient-animation 6s ease infinite;
  position: absolute;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header {
  position: fixed;
  top: 0;
  background-color: #72411b;
  border-bottom: 5px solid #3d1a00;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logo {
  margin: 20px;
  font-size: 2rem;
  font-weight: 700;
  color: goldenrod;
  text-decoration: underline;
}
header .nav-links a {
  margin: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #3d1a00;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}
main .section {
  height: calc(100vh - 70px);
  padding-top: 70px;
}

.homep {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.homep .home-title {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
.homep .text-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.homep .text-container p {
  margin: 5px;
}
.homep .text-container #uptext {
  font-size: 1.9099102953rem;
  color: #3d1a00;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}
.homep .text-container #midtext {
  font-size: 5rem;
  color: goldenrod;
}
.homep .text-container #bottext {
  font-size: 3.0902348578rem;
  color: #3d1a00;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}
.homep .description {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.homep .description img {
  border-radius: 50%;
  border: solid #3d1a00 3px;
  width: 40%;
  height: 40%;
  box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79);
}
.homep .description p {
  font-size: 1.5rem;
  color: #3d1a00;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

.info {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid 1px red;
}
.info .info-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info .info-header h2 {
  font-size: 3rem;
  color: #3d1a00;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}
.info .info-header #live-dot {
  width: 10px; /* Size of the dot */
  height: 10px; /* Size of the dot */
  background-color: red; /* Dot color */
  border-radius: 50%; /* Makes it circular */
  animation: pulse 1s infinite; /* Apply the animation */
  margin-left: 10px;
  z-index: -0.5;
}
@keyframes pulse {
  0% {
    transform: scale(1); /* Original size */
    opacity: 1; /* Fully visible */
  }
  50% {
    transform: scale(1.5); /* Increase size */
    opacity: 0.5; /* Slightly transparent */
  }
  100% {
    transform: scale(1); /* Back to original size */
    opacity: 1; /* Fully visible */
  }
}
.info .crypto-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 20%;
}
.info .crypto-container #crypto-table {
  border: 5px #1bfd9c solid;
  border-collapse: collapse;
  width: 55%;
  box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 20px 18px 8px 2px rgba(0, 0, 0, 0.79) th, td;
  -moz-box-shadow-border: 2px #004439 solid;
  -moz-box-shadow-padding: 5px;
  -moz-box-shadow-font-size: 1.4rem;
  -moz-box-shadow-color: #3d1a00;
  -moz-box-shadow-font-weight: 700;
  -moz-box-shadow-background-color: #14787d;
}
.info .crypto-container #crypto-table .positive-change {
  background-color: green;
  color: #000;
}
.info .crypto-container #crypto-table .negative-change {
  background-color: red;
  color: #fff;
}
.info .crypto-container #crypto-table th {
  padding: 10px;
  background-color: #05514a;
  font-size: 1.6rem;
}
.info .crypto-container .search {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.info .crypto-container .search #search-title {
  font-size: 2.5rem;
  color: #000;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6);
}
.info .crypto-container .search .container-input {
  padding: 10px;
  background-color: #0a5e5b;
  border-radius: 0.6em;
  border: solid #1bfd9c 2px;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}
.info .crypto-container .search .container-input input {
  font-size: 1.4rem;
  outline: none;
}
.info .crypto-container .search button {
  margin-top: 10px;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid #1bfd9c;
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
  color: #1bfd9c;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}
.info .crypto-container .search button:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}
.info .crypto-container .search button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
}
.info .crypto-container .search button:hover:before {
  transform: translateX(15em);
}
.info .crypto-container #result {
  margin-top: 20px;
  padding: 10px;
  background-color: #05514a;
  border-radius: 0.6em;
  border: solid #1bfd9c 2px;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
  font-size: 1.4rem;
  color: #000;
  font-weight: 700;
}/*# sourceMappingURL=styles.css.map */